<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="color-scheme:light dark;supported-color-schemes:light dark;">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Dark Mode meta tags needed to enable Dark Mode in email client user agents-->
    <meta name="color-scheme" content="light dark">
    <meta name="supported-color-schemes" content="light dark only">
    <title>Swindon Makerspace</title>
    <style>
      .logo a:hover{color:#FB7732;font-weight:bold;text-decoration:none}
      .logo a:focus{color:#FB7732;font-weight:bold;text-decoration:none}
      .logo a:active{color:#FB7732;font-weight:bold;text-decoration:none}
      .logo a:visited{color:#FB7732;font-weight:bold;text-decoration:none}
      .content a:hover{color:#FB7732}
      .content a:focus{color:#FB7732}
      .content a:active{color:#FB7732}
      .content a:visited{color:#FB7732}
      .content .button:visited{display:inline-block;padding:10px 25px;background-color:#1e9e6b;color:#ffffff;text-decoration:none;border-radius:5px;font-weight:bold;font-size:18px;line-height:28px;transition:all 0.3s ease-in-out}
      .content .button:hover{background-color:#069059;color:#ffffff}
      .content .button:focus{background-color:#3276b1;border-color:#285e8e;color:#ffffff}
    </style>
    <style type="text/css">
      @media (prefers-color-scheme: dark) {
      	[data-ogsb] body,
      	body {
      		background-color: #333333 !important;
      	}
      	[data-ogsb] .wrapper,
      	.wrapper {
      		background-color: #333333 !important;
      	}
      	[data-ogsb] .main,
      	[data-ogsc] .main,
      	.main {
      		background-color: #000000 !important;
      		color: #bfbfbf !important;
      	}
      	[data-ogsc] .content a,
      	.content a,
      	.content a:hover,
      	.content a:focus,
      	.content a:active,
      	.content a:visited {
      		color: #FB7732;
      		/* text-decoration: none; */
      	}
      	[data-ogsb] .content .button,
      	[data-ogsc] .content .button,
      	.content .button,
      	.content .button:visited {
      		background-color: #1e9e6b;
      		color: #ffffff;
      	}
      	[data-ogsb] .content .button:hover,
      	[data-ogsc] .content .button:hover,
      	.content .button:hover {
      		background-color: #069059;
      		color: #ffffff;
      	}
      	[data-ogsb] .content .button:focus,
      	[data-ogsc] .content .button:focus,
      	.content .button:focus {
      		background-color: #3276b1;
      		border-color: #285e8e;
      		color: #ffffff;
      	}
      	[data-ogsc] .content .button,
      	blockquote {
      		border-left: 5px solid #FB7732;
      	}
      }
    </style>
  </head>
  <body style="margin:0;background-color:#cccccc;">
    <center class="wrapper" style="width:100%;table-layout:fixed;background-color:#cccccc;padding-top:20px;padding-bottom:50px;">
      <table class="main" width="100%" role="presentation" style="border-spacing:0;border-collapse:collapse;background-color:#ffffff;margin:0 auto;width:100%;max-width:640px;font-family:sans-serif;color:#404040;box-shadow:0 0 10px rgba(0, 0, 0, 0.5);">
        <!-- TOP BORDER -->
        <tr>
          <td height="8" style="padding:0;background-color: #404040;"></td>
        </tr>
        <!-- LOGO SECTION -->
        <tr>
          <td style="padding: 24px 24px 0 24px;">
            <table class="logo" width="100%" style="border-spacing:0;border-collapse:collapse;">
              <tr>
                <td class="two-columns" style="padding:0;text-align:left;">
                  <table class="column" style="border-spacing:0;border-collapse:collapse;width:100%;max-width:300px;display:inline;vertical-align:top;">
                    <tr>
                      <td style="padding: 0;">
                        <a href="https://www.swindon-makerspace.org/" style="color:#FB7732;font-weight:bold;text-decoration:none;">
                          <img src="https://raw.githubusercontent.com/swindonmakers/AccessSystem/master/root/img/sm-logo-100.png" alt="Swindon Makerspace Logo" width="50" style="border:0;">
                        </a>
                      </td>
                    </tr>
                  </table>
                  <table class="column" style="border-spacing:0;border-collapse:collapse;width:100%;max-width:300px;display:inline;vertical-align:top;">
                    <tr>
                      <td style="padding: 0 5px; text-align: left;">
                        <a href="https://www.swindon-makerspace.org/" style="color:#FB7732;font-weight:bold;text-decoration:none;font-size: 28px;">
                          SWINDON
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 0 5px; text-align: left;">
                        <a href="https://www.swindon-makerspace.org/" style="color:#FB7732;font-weight:bold;text-decoration:none;font-size: 19px;">
                          MAKERSPACE
                        </a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <!-- TITLE, TEXT & BUTTON -->
        <tr>
          <td style="padding: 24px 24px 48px 24px;">
            <div class="content" style="margin:0 auto;font-size:18px;line-height:28px;">
              [% content %]
            </div>
          </td>
        </tr>
        <!-- FOOTER SECTION -->
        <tr>
          <td height="32" style="padding:0;background-color: #404040;"></td>
        </tr>
        <tr>
          <td height="128" style="padding:0;background-color: #272727;">
            <table width="100%" style="border-spacing:0;border-collapse:collapse;">
              <tr>
                <td style="text-align: center; padding: 48px 24px; color: #ffffff;">
                  <address style="font-style: normal;">
                    <a href="https://www.swindon-makerspace.org/" style="color: #ffffff;">
                      <img src="https://raw.githubusercontent.com/swindonmakers/AccessSystem/master/root/img/sm-logo-100.png" alt="Swindon Makerspace Logo" width="50" style="border:0;">
                    </a>
                    <p style="font-size: 14px; line-height: 24px; margin: 0; padding: 8px 0;">
                      Unit 34, BSS House, Cheney Manor,<br>
                      Swindon, SN2 2PJ
                    </p>
                    <p style="font-size: 14px; line-height: 24px; margin: 0; padding: 8px 0;">
                      Swindon Makerspace CIC<br>
                      Company No: 09893201
                    </p>
                    <p style="font-size: 14px; line-height: 24px; margin: 0; padding: 8px 0;">
                      <a href="https://www.swindon-makerspace.org/" style="color: #ffffff;">
                        www.swindon-makerspace.org
                      </a>
                    </p>
                    <p style="font-size: 14px; line-height: 24px; margin: 0; padding: 8px 0;">
                      <a href="mailto:info@swindon-makerspace.org" style="color: #ffffff;">
                        info@swindon-makerspace.org
                      </a>
                    </p>
                    <p style="margin: 0; padding: 10px;">
                      <a href="https://www.facebook.com/swindonmakerspace/" style="color: #ffffff; text-decoration: none; padding: 6px;">
                        <img src="https://raw.githubusercontent.com/swindonmakers/AccessSystem/master/root/img/white-facebook.png" alt="Facebook" width="24" style="border:0;">
                      </a>
                      <a href="https://twitter.com/swindonmakers" style="color: #ffffff; text-decoration: none; padding: 6px;">
                        <img src="https://raw.githubusercontent.com/swindonmakers/AccessSystem/master/root/img/HghMNjk/white-x.png" alt="X (formerly Twitter)" width="24" style="border:0;">
                      </a>
                      <a href="https://t.me/joinchat/A5Xbrj7rku0D-F3p8wAgtQ" style="color: #ffffff; text-decoration: none; padding: 6px;">
                        <img src="https://raw.githubusercontent.com/swindonmakers/AccessSystem/master/root/img/white-telegram.png" alt="Telegram" width="24" style="border:0;">
                      </a>
                      <a href="https://www.youtube.com/channel/UCT8z-BgSOMc-5kCppXryYCA" style="color: #ffffff; text-decoration: none; padding: 6px;">
                        <img src="https://raw.githubusercontent.com/swindonmakers/AccessSystem/master/root/img/white-youtube.pngg" alt="Youtube" width="24" style="border:0;">
                      </a>
                    </p>
                  </address>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
