[% WRAPPER wrapper.tt %]

 [% IF type == 'telegram' %]
<p>Thanks for confirming your telegram chatid</p>

<p>Now you can use your telegram account to manage your membership</p>
 [% ELSIF type == 'induction' %]

<p>Thanks for confirming your induction</p>
 [% END %]

<p>You can now close this tab</p>

[% END %]